In [3]:
import opendota
import datetime
import pandas as pd
import json

Данный ноутбук служит для извлечения информации о матчах с ресурса opendota c помощью библиотеки pyopendota (Документация: https://pyopendota.readthedocs.io.)

Данный ноутбук нужен, если вы хотите актуализировать матчи. В файле dota_dataset.csv собраны результаты матчей с 01.10.24 до 10.12.24.

Так же есть ограничение на ограничение количества записей (4000), поэтому ниже 3 запроса, а не 1

In [8]:
client = opendota.OpenDota()

In [9]:
df1 = pd.DataFrame(client.explorer('select * from matches where start_time > 1727730000 limit 4000'))

In [10]:
df2 = pd.DataFrame(client.explorer('select * from matches where start_time > 1730408400 limit 4000'))

In [11]:
df3 = pd.DataFrame(client.explorer('select * from matches where start_time > 1733000400 limit 4000'))

In [12]:
df4 = pd.DataFrame(client.explorer('select * from matches where start_time > 1725138000 limit 4000'))

In [13]:
df4.head(2)

,match_id,match_seq_num,radiant_win,start_time,duration,tower_status_radiant,tower_status_dire,barracks_status_radiant,barracks_status_dire,cluster,...,radiant_xp_adv,teamfights,version,cosmetics,radiant_score,dire_score,draft_timings,series_id,series_type,replay_salt
0,7923029379,6665974850,True,1725140404,1298,1983,1844,63,63,381,...,"[0, 130, -107, -141, -303, -164, 245, 664, 912...","[{'start': 353, 'end': 386, 'last_death': 371,...",21.0,"{'630': 132, '647': 129, '4953': 1, '7095': 1,...",26,12,"[{'order': 1, 'pick': False, 'active_team': 3,...",902569,1,520674307
1,7923037228,6665972743,False,1725140668,1648,1840,2038,62,63,271,...,"[0, 215, -376, -708, -573, -894, -1443, -659, ...","[{'start': 836, 'end': 880, 'last_death': 865,...",21.0,"{'4383': 129, '6501': 3, '6502': 3, '6503': 3,...",12,29,"[{'order': 1, 'pick': False, 'active_team': 3,...",902588,1,1845593955

In [7]:
date = datetime.datetime(2024, 9, 1)
date.timestamp()

1725138000.0

In [14]:
df_dota = pd.concat([df1, df2, df3, df4], ignore_index=True)

In [15]:
df_dota.shape

(16000, 40)

In [16]:
df_dota = df_dota.drop_duplicates(subset=['match_id'], keep='first')

In [17]:
df_dota = df_dota[df_dota['game_mode'] == 2]

In [18]:
df_dota.to_csv('dota_dataset.csv', index=False)

In [26]:
df_heroes = pd.DataFrame(client.explorer('select * from heroes'))

In [27]:
df_heroes.to_csv('heroes.csv', index=False)